target
.vscode
.metals
.bloop
**/project/metals.sbt
**/project/project

# VCD output
**/test_run_dir

# vivado stuffs
**/*.jou
**/*.log

**/hello_z710-test
**/riscv-z710-v2020
.Xil

# 
misc/lab*_ans.yaml
